.movies {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.card {
    height: 25em;
    margin-bottom: 20px;
}

.card-body {
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-body:hover {
    overflow: auto;
}

.card-body::-webkit-scrollbar {
    -webkit-appearance: none;
}

.card-body::-webkit-scrollbar:vertical {
    width:10px;
}

.card-body::-webkit-scrollbar-button:increment,.card-body::-webkit-scrollbar-button {
    display: none;
}

.card-body::-webkit-scrollbar:horizontal {
    height: 10px;
}

.card-body::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.card-body::-webkit-scrollbar-track {
    border-radius: 10px;
}