.tarjeta {
    background-image: url(https://image.tmdb.org/t/p/w500/7ucaMpXAmlIM24qZZ8uI9hCY0hm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    color: #fff;
    background-color: #000a;
}

.card-img-overlay {
    display: flex;
    top: -25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    width: 10em;
    height: 3em;
}