.card {
    height: calc(100vh - 82.899px);
}

.card-img {
    height: calc(100vh - 82.899px);
}

.card-img-overlay {
    display: flex;
    top: -25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    width: 10em;
    height: 3em;
}