.movies {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.card {
    width: 18em;
    margin-bottom: 20px;
}